# Node modules and build artifacts
node_modules/
npm-debug.log
yarn-error.log

# Composer dependencies
vendor/

# Environment files
.env
.env.*

# Log files
*.log

# IDE and editor files
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/

# Database files
*.sqlite
*.sql

# Temporary files
*.tmp
*.swp

# Miscellaneous
*.cache
*.bak
*.orig

# Laravel-specific
/storage/*.key
/public/hot
/public/storage
/storage/*.php
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
